.vscode/
data/deep*
data/gist*
data/glove1.2m*
data/imagenet*
data/msong*
data/sift*
data/tiny5m*
data/ukbench*
data/word2vec*
data/crawl*
data/cifar*
data/enron*
data/glove-100*
data/sun*
data/mnist*
data/bigann*
data/notre*
data/nuswide*
data/trevi*
data/laion*
data/uqv*
data/gauss*
data/c4*
data/deg
data/miracl*
data/msturing*
data/spacev*
data/wp*
data/SEANet_*
data/rand*
data/glove*
data/SEANet_data
data/tiny*
data/test*
data/webvid*
data/yandex*
src/*.log
src/*.o
*.pkl
results/
src/index_hnsw
src/search_hnsw
src/searck_kgraph
src/output*
src/build/*
src/get_delta0_point
prof/
figures/fig
figures/*
*.out
*.png
*.pyc
nohup*
*.fbin